<h2>About Hieraki</h2>

<p><em>Hieraki</em> is a collaborative book writing tool which combines
the best part of the common wiki with a hierarchy (hence hiera-ki).</p>

<p>Hieraki is released under the <a href="http://dev.hieraki.org/trac.cgi/file/trunk/MIT-LICENSE">MIT</a> license which means you can do whatever the hell you want with it</p>

<p>Currently Hieraki is under strong development; please visit the homepage at <a href="http://www.hieraki.org">www.hieraki.org</a> 
or the development tracker at <a href="http://dev.hieraki.org">dev.hieraki.org</a> where you can also browse 
the source code online</p>

<p>Hieraki is written in 100% Ruby using the unparalleled Ruby on Rails framework.</p>

Enjoy,<br/>
Tobias Luetke