<a href="#" onclick="document.getElementById('admin_book_<%= book.id  %>').style.display='inline'; return false;">options &rarr;</a>

<span id="admin_book_<%= book.id %>" class="admin">
&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'edit',   edit_book_path(book) %> | 
<%= link_to 'delete', delete_book_path(book), :confirm => 'Are you sure?' %> 
</span>
