<script type="text/javascript">
initPreview("book_body", "livepreview", "...")
</script>

<%= form_tag edit_book_path(@book) %>
<h1>Editing Book</h1>

<%= render :partial => 'form' %>
<input type="submit" id="form_submit"  value="Update" />  
</form>

<h2>Preview</h2>
<div id="livepreview">
</div>
