<%= render_errors @page %><br>
<table>
  <tr>
    <td>
      <label for="rev_title">Title:</label>
    </td>
    <td>
      <%= text_field "page", "title", "size" => 30 %><br>
    </td>
  </tr>
  <tr>
    <td>
      <label for="rev_body">Body:<br>
      <small><a href="#" onclick="quickRedReference(); return false;">(formatting)</a></small></label>
    </td>
    <td>
      <%= text_area "page", "body", "rows" => 20, "cols"=> 60 %><br>
    </td>
  </tr>
</table>
<br>
