<%= form_tag edit_page_path(@page) %>
<h1>Editing Page</h1>
<%= render :partial => 'form' %>
<input type="submit" id="form_submit"  value="Update">

</form>

<script type="text/javascript">
initPreview("page_body", "livepreview", "...")
</script>
<h2>Preview</h2>
<div id="livepreview">
</div>

