<div>
  <h1>Exports</h1>
  
  <p>You can export the current book in following formats:</p>
  
  <ul>
  <li><%= link_to "html", :action=> "html", :id => @book.id %></li>
  <li><%= link_to "yaml", :action=> "yaml", :id => @book.id %></li>
  <li><%= link_to "textile", :action=> "textile", :id => @book.id %></li>
  <li><%= link_to "text", :action=> "text", :id => @book.id %></li>
  </ul>
  
</div>