<div>
  <h1>Exports</h1>
  
  <p>You can export the current book in following formats:</p>
  
  <ul>
    <li><%= link_to 'html',    html_export_path(@book) %></li>
    <li><%= link_to 'yaml',    yaml_export_path(@book) %></li>
    <li><%= link_to 'textile', textile_export_path(@book) %></li>
    <li><%= link_to 'text',    text_export_path(@book) %></li>
  </ul>
</div>
