<div class="memo">
  <h3>Welcome</h3>

  <p>Thanks for signing up with hieraki...</p>

  <p>
    Before you can login as an author however your application has to be
    approved by a current author of the system.
  </p>

  <%= link_to "&larr; shelf", :controller=>"shelf", :action => "index"%>  
</div>
