<%= render_errors @chapter %><br/>
<table>
  <tr>
    <td>
      <label for="chapter_title">Title:</label>
    </td>
    <td>
      <%= text_field "chapter", "title", "size" => 30 %><br/>    
    </td>
  </tr>
</table>
