<%= form_tag new_chapter_path %>
<h1>Create chapter</h1>

<%= hidden_field 'chapter', 'book_id' %>
<%= hidden_field 'chapter', 'parent_id' %>
<%= render :partial => 'form' %>

<input type="submit" id="form_submit"  value="Store">
</form>
